.Rproj.user
.Rhistory
.RData
.Ruserdata
r_code/.Rproj.user/9CD887A5/pcs/files-pane.pper
r_code/.Rproj.user/9CD887A5/pcs/files-pane.pper
r_code/.Rproj.user/9CD887A5/pcs/source-pane.pper
r_code/.Rproj.user/9CD887A5/pcs/windowlayoutstate.pper
r_code/.Rproj.user/9CD887A5/pcs/workbench-pane.pper
